
<div class="card text-center mt-4 " style="border: transparent;">
    
    <div class="card-header border border-primary">
        <h4>INFORMACIÓN</h4>
    </div>

</div>

<div class="row mt-3">

    <div class="col-md-4 mb-2">

        <div class="card">
            <img src="{{ url_for('static', filename= 'img/plato1.jpg') }}" class="img-fluid card-img-top " >

            <a class="btn btn-block btn-primary" href="" type="button">Acerca de Nosotros</a>
        </div>

    </div>

    <div class="col-md-4 mb-2">

        <div class="card">
            <img src="{{ url_for('static', filename= 'img/plato1.jpg') }}" class="img-fluid card-img-top ">

            <a class="btn btn-block btn-primary" href="" type="button">Categorías</a>
        </div>

    </div>

    <div class="col-md-4 mb-2">

        <div class="card">
            <img src="{{ url_for('static', filename= 'img/plato1.jpg') }}" class="img-fluid card-img-top ">

            <a class="btn btn-block btn-primary" href="/platos/?categoria=2" type="button">Ver Promociones</a>
        </div>

    </div>

</div>